@model IEnumerable<CinemaTicket.Models.CinemaModels.Celebrity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Movies", new { id=item.MovieId }, null)
            </td>
        </tr>
    }

    </table>*@




@{
    Html.RenderPartial("_HeaderPartial");


}



<!-- portfolio section start -->

@*<section class="hero-area" id="home">
    @{
        Html.RenderPartial("get3Slide");
    }

</section>*@
<div class="container">
    <div class="hero-area-slider">

        @foreach (var movie in ViewBag.MovieDetails@*.OrderByDescending(item => item.MovieDetailId).Take(3).ToList()*@)
        {

            <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content">
                        <img src="~/Content/assets/img/@movie.Movie.ImageURL" alt="about" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <h2><a href="@Url.Action("Details", "Movies", new { id = movie.MovieId })">@movie.Movie.MovieName</a></h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>@movie.Movie.Vote votes</h4>
                        </div>
                        <p style=" overflow: hidden; text-overflow: ellipsis; line-height: 1.5em; height: 6em;">@movie.Movie.Description</p>
                        <h3>Cast:</h3>
                        <div class="slide-cast">

                            @*@foreach (var moviedetail in Model.Where(n => n.MovieId == @movie.Movie.MovieId))*@

                            @*@{ 
                                ViewBag.Celebrities.Where(n => n.CelebrityId == @movie.CelebrityId);
                            }*@
                            @foreach (var celebrity in Model.Where(n => n.CelebrityId == movie.CelebrityId))
                            {
                            <div class="single-slide-cast">
                                <img src="~/Content/assets/img/cast/@celebrity.UrlAvatar" alt="about" />
                            </div>

                            }
                            <div class="single-slide-cast text-center">
                                5+
                            </div>
                        </div>
                        <div class="slide-trailor">
                            <h3>Watch Trailer</h3>
                            <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>


@*@{
        Html.RenderPartial("_PortfolioPartial");
    }*@

<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-movie"></i> Spotlight This Month</h1>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        <li data-filter="*" class="active">Latest</li>
                        <li data-filter=".soon">Comming Soon</li>
                        <li data-filter=".top">Top Rated</li>
                        <li data-filter=".released">Recently Released</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-9">
                <div class="row portfolio-item">
                    @foreach (var movie in ViewBag.movie)
                    {
                        <div class="col-md-4 col-sm-6 soon released">
                            <div class="single-portfolio">
                                <div class="single-portfolio-img">
                                    <img src="~/Content/assets/img/@movie.ImageURL" alt="portfolio" />
                                    <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                        <i class="icofont icofont-ui-play"></i>
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <h2 style="overflow: hidden; text-overflow: ellipsis; height: 30px;"><a href="@Url.Action("Details", "Movies", new { id = movie.MovieId })">@movie.MovieName</a></h2>
                                    <div class="review">
                                        <div class="author-review">
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        </div>
                                        <h4>@movie.Vote voters</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                @*page*@
                <div>
                    <ul class="pagination">
                       
                        @*@for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.movie.Count() / ViewBag.PageSize); i++)
                        {
                            <li class="@(ViewBag.PageNumber == i ? "active" : "")">
                                @Html.ActionLink(i.ToString(), "Index", new { page = i })
                            </li>
                        }*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 text-center text-lg-left">
                <div class="portfolio-sidebar">
                    <img src="~/Content/assets/img/sidebar/sidebar1.png" alt="sidebar" />
                    <img src="~/Content/assets/img/sidebar/sidebar2.png" alt="sidebar" />
                    <img src="~/Content/assets/img/sidebar/sidebar3.png" alt="sidebar" />
                    <img src="~/Content/assets/img/sidebar/sidebar4.png" alt="sidebar" />
                </div>
            </div>
        </div>
    </div>
</section><!-- portfolio section end -->
<!-- video section start -->
<section class="video ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-film"></i> Trailers & Videos</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="video-area">
                    <img src="~/Content/assets/img/video/video1.png" alt="video" />
                    <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                        <i class="icofont icofont-ui-play"></i>
                    </a>
                    <div class="video-text">
                        <h2>Angle of Death</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>180k voters</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="~/Content/assets/img/video/video2.png" alt="video" />
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="~/Content/assets/img/video/video3.png" alt="video" />
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- video section end -->


<!-- news section start -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-coffee-cup"></i> Latest News</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="news-slide-area">
        <div class="news-slider">
            @foreach (var item in @ViewBag.News)
            {
                <div class="single-news">
                    <div style="background-image: url('../../content/assets/img/slide3.png'); height: 350px; "></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>@item.Title</h2>
                        <p>@item.Description</p>
                    </div>
                    <a href="@Url.Action("Details", "News", new { id = @item.NewsId })">Read More</a>
                </div>
            }

          
        </div>
        <div class="news-thumb">
            <div class="news-next">
                <div class="single-news">
                    <div class="news-bg-3"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="news-prev">
                <div class="single-news">
                    <div class="news-bg-2"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- news section end -->

@{
    Html.RenderPartial("_FooterPartial");
}
