@model CinemaTicket.Models.CinemaModels.Cinema

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Details</h2>*@
<div class="page-header">
    <h4 class="page-title"> Detail </h4>
</div>

@*<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CinemaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(model => model.CinemaName)</h4>
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description: </label>
                            @*<label class="col-sm-9 form-control">@Html.DisplayFor(model => model.Description)</label>*@
                            @Html.TextAreaFor(model => model.Description, new { @disabled = "disabled", @class = "col-sm-9 file-upload-info form-control text-light", @id = "exampleTextarea1", @rows = "4" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-secondary  mr-2" href="@Url.Action("Edit", new { id = Model.CinemaId })"><i class="mdi mdi-table-edit"></i>Edit</a>
    <a class="btn btn-primary  mr-2" href="@Url.Action("Index")"><i class="mdi mdi-arrow-left"></i>Back</a>
</div>