@model CinemaTicket.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Coding by CodingLab || www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/Content/assets/img/favcion.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css" media="all" />
    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slicknav.min.css" media="all" />
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/icofont.css" media="all" />
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/owl.carousel.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/magnific-popup.css">
    <!-- Main style CSS -->
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/responsive.css" media="all" />
    <link rel="stylesheet" href="~/Content/assets/css/register.css" />
</head>
<body class="registerbody">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "registerwrapper" }))
    {
        @Html.AntiForgeryToken()


            <div class="registerform registersignup">
                <h1>SIGN UP</h1>
               
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Full name", @type = "text", @required = "required" })
                    @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @type = "password", @required = "required" })
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @type = "password", @required = "required" })
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email address", @type = "text", @required = "required" })

                    <div class="checkbox">
                        <input type="checkbox" id="signupCheck" />
                        <label for="signupCheck">I accept all terms & conditions</label>
                    </div>
                    <input type="submit" value="Register" class="registerbtnSubmit" />
               
            </div>
    }

</body>
</html>

