@model CinemaTicket.Models.CinemaModels.Celebrity

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Details</h2>*@
<div class="page-header">
    <h4 class="page-title"> Detail </h4>
</div>

@*<div>
        <h4>Celebrity</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UrlAvatar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrlAvatar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Language)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CelebrityId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">

            <form class="form-sample">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~Images/@Model.UrlAvatar" alt="Hinh" />
                    </div>
                    <div class="col-md-8 ">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name </label>
                            <label class="col-sm-9 form-control">@Html.DisplayFor(model => model.Name)</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Height: </label>
                            <label class="col-sm-9 form-control">@Html.DisplayFor(model => model.Height)</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Weight: </label>
                            <label class="col-sm-9 form-control">@Html.DisplayFor(model => model.Weight)</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Language: </label>
                            <label class="col-sm-9 form-control">@Html.DisplayFor(model => model.Language)</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description: </label>
                            @Html.TextAreaFor(model => model.Description, new { @disabled = "disabled", @class = "col-sm-9 file-upload-info form-control text-light", @id = "exampleTextarea1", @rows = "4" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-secondary  mr-2" href="@Url.Action("Edit", new { id = Model.CelebrityId })"><i class="mdi mdi-table-edit"></i>Edit</a>
    <a class="btn btn-primary  mr-2" href="@Url.Action("Index")"><i class="mdi mdi-arrow-left"></i>Back</a>
</div>
