
@{
    Layout = null;
}



<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/Content/assets/img/favcion.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css" media="all" />
    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slicknav.min.css" media="all" />
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/icofont.css" media="all" />
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/owl.carousel.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/magnific-popup.css">
    <!-- Main style CSS -->
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/responsive.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css" media="all" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="buy-ticket-area" style="
    color: #fff;
    background: #212529;
    width: 100vw;
    height: 100vh;
    margin-top: 0px;">
        <a href="#"><i class="icofont icofont-close"></i></a>
        <div class="row">
            <div class="col-lg-8">
                <div class="buy-ticket-box">
                    <h4>Buy Tickets</h4>
                    <h5>Seat</h5>
                    <h6>Screen</h6>
                    <div class="ticket-box-table">
                        <table class="ticket-table-seat">
                            <tbody>
                                <tr>
                                    @for (int i = 1; i <= 7; i++)
                                    {
                                        <td class="seatNo active" >@i</td>
                                    }

                                </tr>
                                <tr>
                                    @for (int i = 8; i <= 14; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }

                                </tr>
                                <tr>
                                    @for (int i = 15; i <= 21; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 22; i <= 28; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 29; i <= 35; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="ticket-table-seat">
                            <tbody>
                                <tr>
                                    @for (int i = 36; i <= 43; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 44; i <= 51; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>

                                    @for (int i = 52; i <= 59; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 60; i <= 67; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 68; i <= 75; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="ticket-table-seat">
                            <tbody>
                                <tr>
                                    @for (int i = 76; i <= 83; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 84; i <= 91; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 92; i <= 99; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 100; i <= 107; i++)
                                    {
                                        <td class="seatNo {@i}" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                                <tr>
                                    @for (int i = 108; i <= 115; i++)
                                    {
                                        <td class="seatNo" onclick="handleClick(@i)">@i</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <script language="javascript">

                        function handleClick(i) {
                            var item = document.getElementsByClassName("seatNo")[i - 1];
                           
                            if (item.classList.contains("active")) {
                                item.classList.remove("active");
                            } else {
                                item.classList.add('active');
                            }
                            var ticketnumber = document.getElementById("ticketnumber")

                            ticketnumber.textContent = ""

                            @*@ViewBag.ShowTimes*@
                        }


                    </script>
                    <div class="ticket-box-available">
                        <input type="checkbox">
                        <span>Available</span>
                        <input type="checkbox" checked="">
                        <span>Unavailable</span>
                        <input type="checkbox">
                        <span>Selected</span>
                    </div>
                    <a href="#" class="theme-btn">previous</a>
                    @Html.ActionLink("Newfsdfjjds", "a", "Reservations", new { seats = new[] { 1, 2 } }, null)
                    @*<a href="@Url.Action("a", "Reservations", new {seats = new[] { 1, 2}})" class="theme-btn">Next</a>*@
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="buy-ticket-box mtr-30">
                    <h4>Your Information</h4>
                    @Html.DropDownList("ShowId", null, htmlAttributes: new { @class = "form-control", @onchange = "showChanged(this.value)" })

                    <script language="javascript">

                                function showChanged(value) {

                                    var id = @ViewBag.Movie.MovieId

                                        window.location.href = "/Reservations/ChooseShow?MovieId=" + id + "&ShowId=" + value;

                                }

                    </script>
                    <ul>
                        <li>
                            <p>
                                Location
                            </p>
                            @foreach (var item in @ViewBag.Cimemas)
                            {
                                <span> @item</span>

                            }
                            @*@Html.DropDownList("ShowDayId", ViewBag.Shows as SelectList, htmlAttributes: new { @class = "form-control" })*@
                            @*@Html.DropDownListFor("Shows", new SelectList(ViewBag.Accounts, "AccountID", "AccountName"))*@


                        </li>
                        <li>
                            <p>DAY</p>
                            @foreach (var item in ViewBag.ShowDays)
                            {
                                <span> @item</span>

                            }
                        </li>
                        <li>
                            <p>TIME</p>
                            @foreach (var item in ViewBag.ShowTimes)
                            {
                                <span> @item</span>

                            }

                        </li>
                        <li>
                            <p>Movie name</p>
                            <span>@ViewBag.Movie.MovieName</span>
                        </li>
                        <li>
                            <p id="ticketnumber">Ticket number</p>
                            <span></span>
                        </li>
                        <li>
                            <p>Price</p>
                            <span>89$</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- jquery main JS -->
    <!--<script src="~/Content/assets/js/jquery.min.js"></script>-->
    <!-- Bootstrap JS -->
    <!--<script src="~/Content/assets/js/bootstrap.min.js"></script>-->
    <!-- Slick nav JS -->
    <!--<script src="~/Content/assets/js/jquery.slicknav.min.js"></script>-->
    <!-- owl carousel JS -->
    <!--<script src="~/Content/assets/js/owl.carousel.min.js"></script>-->
    <!-- Popup JS -->
    <!--<script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>-->
    <!-- Isotope JS -->
    <!--<script src="~/Content/assets/js/isotope.pkgd.min.js"></script>-->
    <!-- main JS -->
    <!--<script src="~/Content/assets/js/main.js"></script>-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

</body>

</html>